  
  #bodybox {
    font: 15px arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
    float: right;
    width: 68%;
    padding-left: 3%;
}

  
  .chatlog {
      font-family: "ubuntu";
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 50px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(235, 227, 227);
    padding-left: 30px;
    width: 100%;
  }

  .chatbot-details{
    padding-top: 20px;
    float: left;
     max-width: 30%;
     text-align: center;
  }